.container {
  width: 100%;
  height: 100%;
  padding: $cardPadding;

  .innerContainer {
    float: left;
    padding: $cardPadding;
    padding-top: 0;
    @include CardContainer;
  }

  table {
    border-collapse: collapse;
  }

  .asc:after, .desc:after {
    font-size: 12px;
  }

  th:after {
    content: '  ';
    width: 10px;
  }

  th.asc:after {
    content: ' ^';
  }

  th.desc:after {
    content: ' v';
  }

  th {
    background-color: $color_dark_primary;
    color: $color_text_light;
    padding: $padding;
    border: 1px solid $color_dark_primary;
    @include Clickable;
  }

  td {
    border: 1px solid $color_text_muted;
    padding: $padding;
  }

  @media (max-width: $quote_max_phone) {
    padding: 0;
    .innerContainer {
      padding: 0;
      margin: 0;
      border: none;
      box-shadow: none;
      float: none;
    }
    td, th {
      padding: 5px;
    }
  }
}