.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  padding-top: 50px;
  background: grey;
  color: white;

  .content {
    max-width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    // position: absolute;

    h1, h4, .logo {
      text-align: center;
    }

    .logo {
      width: 64px;
      height: 64px;
      left: 0;
      right: 0;
      margin: auto;
    }

    h1 {
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
    }

    .form {
      padding: 30px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      color: black;
      margin: auto;
      max-width: 310px;
      text-align: center;

      .error {
        color: $color_alert;
      }

      > div {
        margin: 20px auto;
      }
      input, .select  {
        width: 180px;
        // padding: 5px;
        border: none;
        margin: 0;
        height: 21px;
        text-align: left;
      }

      input {
        padding: 0 5px;
        width: calc( 180px - 10px);
        border-right: 2px solid transparent;

        &.invalid {
          border-right-color: $color_accent_pink;
        }
      }


      .select {
        display: inline-block;
        vertical-align: bottom;
        background-color: white;
        border: none;
         li {
          border: none !important;
        }
      }
      $labelWidth: 80px;

      label {
        display: inline-block;
        width:  $labelWidth;
        text-align: left;

        &:after {
          content: ' *';
          color: $color_accent_pink;
          font-size: 12px;
          position: absolute;
        }
      }
      button {
        @include Clickable;
        margin-left: $labelWidth;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-radius: 50px;
        width: 120px;
        height: 40px;
        background-color: $color_accent_pink;
        color: white;
        font-weight: bold;

        &:disabled {
          background-color: $color_text_muted;
        }
      }
    }
  }
}