@mixin default {
  @include Clickable;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid;
  border-radius: 2px;
}

.container {
  > * { vertical-align: top; }
  .error {
    @include default;
    border-color: $color_alert;
  }
  
  .checked {
    @include default;
    background-color: $color_accent_blue;
    border-color: $color_accent_blue;
    background-image: url('/res/checkmark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .unchecked {
    @include default;
    border-color: $color_text_muted;
  }
}