$left_offset: 12px;

.container {
	display: inline;

	> * {
		display: inline-block;
		p {
			min-width: 100px;
		}
	}

	&:after {
		content: '\f059';
		position: relative;
		padding: 0 $padding;
		top: 0;
		bottom: 0;
		margin: auto;
		color: $color_accent_blue;
		font-family: FontAwesome;
	}

	&:before {
		content: attr(data-msg);
	}
}