$modal_width: 400px;
$modal_height: 250px;
$modal_icon_size: 60px;
$modal_title_font_size: 2em;
$modal_button_font_size: 1.5em;

@mixin ModalButton {
  font-size: $modal_button_font_size;
  padding: $padding $cardPadding*1.5;
}

.shade {
  z-index: 5;
  position: fixed;
  @include position(0);
  background-color: $color_shade;

  .container {
    @include CardContainer;
    @include position(0);
    position: absolute;
    bottom: 25%;
    background-color: $color_container_background;
    width: $modal_width;
    height: $modal_height;
    margin: auto;
    padding: $cardPadding $cardPadding*2;

    @media (max-width: $quote_max_phone) {
      padding: $padding*2;
    }

    .image {
      height: $modal_icon_size;
      width: $modal_icon_size;
      left: 0;
      right: 0;
      margin: auto;
    }
    .close {
      z-index: 1;
			position: absolute;
			@include Clickable;
			top: 0;
			right: 0;
			margin: $padding/2;
			@include FaClose; 
    }

    .title {
      left: 0;
      right: 0;
      margin: auto;
      padding: $padding;
      text-align: center;
      font-size: $modal_title_font_size;
      font-weight: bold;
    }
    .text {
      left: 0;
      right: 0;
      margin: auto;
      padding: $padding;
      text-align: center;
      // font-weight: bold;
    }

    .button:not(:first-child),
    .buttonPrimary:not(:first-child) {
      margin-left: $padding/2;
    }

    .button:not(:last-child),
    .buttonPrimary:not(:last-child) {
      margin-right: $padding/2;
    }

    .buttonContainer {
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      margin: $cardPadding 0;
    }

    .button {
      @include StaticButton($color_accent_blue, $color_text_light);
      @include ModalButton;
    }

    .buttonPrimary {
      @include StaticButton;
      @include ModalButton;
    }
  }
}