// $spinnerColors: #AACAFF, #4287FF, #4287FF;
// $spinnerColors: $color_accent_blue, $color_backdrop_blue, $color_dark_primary; 
$spinnerColors: lighten($color_accent_blue, 30%),
  lighten($color_accent_blue, 15%),
  $color_accent_blue;

@keyframes rotate {
  0% { transform: rotateZ(0deg);}
 100% { transform: rotateZ(364deg);}
}

.container {
  margin: auto;
  width: 110px;
  height: 110px;
  @include position(0);
  position: absolute;
}

@for $i from 1 to 4 {
  .container > div:nth-child(#{$i}) {
    z-index: 5 - $i;
    border-radius: 50%;
    border-style: solid;
    transform-origin: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border-width: $i * 2 + 1px;
    margin: 7px - ($i * 2);
    animation: rotate 1.5s ease infinite ;
    animation-delay: $i * 60ms;
    border-color: nth($spinnerColors, $i);
    border-bottom-color: transparent;
  }
}